<form
  [formGroup]="formData"
  (ngSubmit)="onSubmit()"
  class="space-y-6 max-w-md mx-auto"
>
  <div class="flex flex-col space-y-2">
    <label for="title" class="font-medium text-gray-700">Title</label>
    <input
      type="text"
      id="title"
      formControlName="title"
      class="p-2 border border-gray-300 rounded focus:outline-none focus:border-green-800"
    />
    <div
      *ngIf="
        formData.controls['title'].invalid && formData.controls['title'].touched
      "
      class="text-red-500"
    >
      Title is required.
    </div>
  </div>

  <div class="flex flex-col space-y-2">
    <label for="description" class="font-medium text-gray-700"
      >Description</label
    >
    <input
      type="text"
      id="description"
      formControlName="description"
      class="p-2 border border-gray-300 rounded focus:outline-none focus:border-green-800"
    />
    <div
      *ngIf="
        formData.controls['description'].invalid &&
        formData.controls['description'].touched
      "
      class="text-red-500"
    >
      Description is required and must be at least 10 characters long.
    </div>
  </div>

  <div class="flex items-center justify-center w-full">
    <label
      for="dropzone-file"
      class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer hover:bg-gray-100"
    >
      <div
        *ngIf="selectedFileName; else uploadPrompt"
        class="flex flex-col justify-center items-center space-y-2"
      >
        <img
          [src]="previewImage"
          alt="PDF preview"
          width="60px"
          height="60px"
        />
        <p>{{ selectedFileName }}</p>
      </div>

      <ng-template #uploadPrompt>
        <div class="flex flex-col items-center justify-center pt-5 pb-6">
          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
            <span class="font-semibold">Click to upload</span> or drag and drop
          </p>
          <p class="text-xs text-gray-500 dark:text-gray-400">
            <span class="font-semibold">PDFs only</span> with a limit of
            <span class="font-semibold">5MB</span>
          </p>
        </div>
      </ng-template>

      <input
        id="dropzone-file"
        type="file"
        class="hidden"
        (change)="onFileChange($event)"
      />
    </label>
    <div
      *ngIf="
        formData.controls['file'].invalid && formData.controls['file'].touched
      "
      class="text-red-500"
    >
      File is required.
    </div>
  </div>

  <button
    type="submit"
    [class]="
      !isLoading
        ? 'w-full flex items-center justify-center py-2 px-4 bg-green-800 text-white rounded hover:bg-green-900 cursor-pointer'
        : 'w-full flex items-center justify-center py-2 px-4 bg-green-800 text-white rounded hover:bg-green-900 cursor-pointer animate-pulse'
    "
    [disabled]="!formData.valid || isLoading"
  >
    <div *ngIf="isLoading" class="space-x-2 flex" role="status">
      <svg
        aria-hidden="true"
        class="w-6 h-6 text-gray-200 animate-spin dark:text-gray-600 fill-yellow-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
      <span>uploading...</span>
    </div>
    <span *ngIf="!isLoading">Upload</span>
  </button>
</form>
