<h2 class="text-2xl font-semibold text-gray-900">My PDF Uploads</h2>
<div *ngIf="isLoading">
  <div
    class="max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl my-3 animate-pulse"
    *ngFor="let pdf of [1, 2, 3]"
  >
    <div class="md:flex">
      <div class="md:flex-shrink-0 flex items-center">
        <div class="h-24 w-24 ml-2 bg-gray-300 rounded mx-auto"></div>
      </div>
      <div class="p-8 w-full">
        <div class="h-5 bg-gray-200 rounded-full w-w-full mb-4"></div>
        <div class="mt-2 bg-gray-300 rounded w-full h-4"></div>
        <div class="mt-2 bg-gray-300 rounded w-1/4 h-4"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isLoading">
  <div *ngFor="let pdf of pdfs" class="flex flex-wrap space-x-2">
    <app-list-card
      [pdf]="pdf"
      (viewPdf)="onViewPdf($event)"
      (deletePdf)="onDeletePdf($event)"
    ></app-list-card>
  </div>

  <div *ngIf="pdfs.length === 0" class="text-center text-2xl mt-12">
    <p class="text-gray-500">No PDFs uploaded yet</p>
  </div>

  <app-pdf-viewer [pdfURL]="selectedPdf"></app-pdf-viewer>
</div>
